<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('API权限认证列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>API服务KEY：<input type="text" name="apiKey" />
							</li>

							<li>业务状态： <select name="apiStatus"
								th:with="type=${@dict.getType('t_api_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
										th:value="${dict.dictValue}"></option>
							</select>
							</li>
							<li>业务状态： <select name="apiType"
								th:with="type=${@dict.getType('t_api_type')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
										th:value="${dict.dictValue}"></option>
							</select>
							</li>
							<li><a class="btn btn-primary btn-rounded btn-sm"
								onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm"
								onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()"
					shiro:hasPermission="bussiness:apiSecurity:add"> <i
					class="fa fa-plus"></i> 添加
				</a> <a class="btn btn-primary btn-edit disabled"
					onclick="$.operate.edit()"
					shiro:hasPermission="bussiness:apiSecurity:edit"> <i
					class="fa fa-edit"></i> 修改
				</a> <a class="btn btn-danger btn-del btn-del disabled"
					onclick="$.operate.removeAll()"
					shiro:hasPermission="bussiness:apiSecurity:remove"> <i
					class="fa fa-remove"></i> 删除
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('bussiness:apiSecurity:edit')}]];
        var removeFlag = [[${@permission.hasPermi('bussiness:apiSecurity:remove')}]];
        var prefix = ctx + "bussiness/apiSecurity";
		var t_api_status = [[${@dict.getType('t_api_status')}]];

		var t_api_type = [[${@dict.getType('t_api_type')}]];

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "API权限认证",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'apiKey', 
					title : 'API接口服务key',
				},
				{
					field : 'apiSecret', 
					title : 'API接口服务secret',
				},
				{
					field : 'apiStatus', 
					title : 'API接口服务状态',
					formatter : function(value) {
		            	return $.table.selectDictLabel(t_api_status, value);
					}
				},
				{
					field : 'apiType', 
					title : 'API接口服务类型 ',
					formatter : function(value) {
		            	return $.table.selectDictLabel(t_api_type, value);
					}
				},
				{
					field : 'apiCreateTime', 
					title : '创建时间',
				},
				{
					field : 'apiUpdateTime', 
					title : '更新时间',
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.apiKey + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.apiKey + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>