<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('修改业务参数配置')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-businessConfig-edit"
			th:object="${businessConfig}">
			<div class="form-group">
				<label class="col-sm-3 control-label">参数名称：</label>
				<div class="col-sm-8">
					<input required id="confId" name="confId" th:field="*{confId}"
						class="form-control" type="text" readonly="readonly">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">参数名称：</label>
				<div class="col-sm-8">
					<input required id="confName" name="confName"
						th:field="*{confName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">参数内容：</label>
				<div class="col-sm-8">
					<input required id="confContext" name="confContext"
						th:field="*{confContext}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">参数说明：</label>
				<div class="col-sm-8">
					<input id="confDesc" name="confDesc" th:field="*{confDesc}"
						class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript">
		var prefix = ctx + "bussiness/businessConfig";
		$("#form-businessConfig-edit").validate({
			rules : {
				xxxx : {
					required : true,
				},
			},
			focusCleanup : true
		});

		function submitHandler() {
			if ($.validate.form()) {
				$.operate.save(prefix + "/edit", $('#form-businessConfig-edit')
						.serialize());
			}
		}
	</script>
</body>
</html>
